@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;500;600;700&display=swap');

:root {  
  --safety-orange: hsl(25, 100%, 50%);
    --lavender-gray: hsl(230, 19%, 81%);
    --persian-rose: hsl(328, 100%, 59%);
    --red-crayola: hsl(341, 100%, 49%);
    --eerie-black: hsl(240, 6%, 10%);
    --light-gray: hsl(0, 0%, 80%);
    --cultured-2: hsl(210, 60%, 98%);
    --platinum: hsl(0, 0%, 90%);
    --gray-web: hsl(220, 5%, 49%);
    --cultured: hsl(0, 0%, 93%);
    --black_10: hsla(0, 0%, 0%, 0.1);
    --black_5: hsla(0, 0%, 0%, 0.05);
    --white-1: hsl(0, 0%, 100%);
    --white-2: hsl(0, 14%, 98%);
    --black: hsl(0, 0%, 0%);
  
  
    --gradient: linear-gradient(to left top, var(--persian-rose), var(--red-crayola));
  
    --ff-roboto: 'Roboto', sans-serif;
    --ff-league-spartan: 'League Spartan', sans-serif;
  
    --fs-1: 2rem;
    --fs-2: 3rem;
    --fs-3: 2.1rem;
    --fs-4: 1.7rem;
    --fs-5: 1.4rem;
    --fs-6: 1.3rem;
  
    --fw-700: 700;
    --fw-500: 500;
    
    --section-padding: 60px;
  
    --shadow-1: 0 6px 24px var(--black_5);
    --shadow-2: 0 2px 28px var(--black_10);
    
    --radius-2: 2px;
    --radius-5: 5px;
    --radius-8: 8px;
    
    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease;
    --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);
    
  }
  .serviceh1{
      text-align: center;
      margin: 40px;
      font-size: 6vh;
      color: var();
  }
  
  li { list-style: none; }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  a,button
  ion-icon { display: block; }
  
  img { height: auto; }
  
  
  button{
    background: none;
    border: none;
    font: inherit;
  }
  
  input,
  textarea { width: 100%; }
  
  button { cursor: pointer; }
  
  ion-icon { pointer-events: none; }
  
  address { font-style: normal; }
  
  html {
    font-family: var(--ff-roboto);
    font-size: 10px;
    scroll-behavior: smooth;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--white-1);
    color: var(--gray-web);
    font-size: 1.6rem;
    line-height: 1.8;
  }
  
  ::-webkit-scrollbar { width: 10px; }
  
  ::-webkit-scrollbar-track { background-color: hsl(0, 0%, 98%); }
  
  ::-webkit-scrollbar-thumb { background-color: hsl(0, 0%, 80%); }
  
  ::-webkit-scrollbar-thumb:hover { background-color: hsl(0, 0%, 70%); }
  
  :focus-visible { outline-offset: 4px; }
  
  .container { padding-inline: 15px; }
  
  .btn {
    max-width: max-content;
    color: var(--white-1);
    font-size: var(--fs-6);
    font-weight: var(--fw-700);
    padding: 10px 30px;
    border-radius: var(--radius-5);
    transition: var(--transition-1);
  }
  
  .btn-primary {
    background-image: var(--gradient);
    background-size: 1000%;
  }
  
  .btn-primary:is(:hover, :focus) { background-position: bottom right; }
  
  .btn-secondary {
    background-color: var(--white-1);
    color: var(--eerie-black);
  }
  
  .btn-secondary:is(:hover, :focus) {
    background-color: var(--eerie-black);
    color: var(--white-1);
  }
  
  .section { padding-block: var(--section-padding); }
  
  .h1 {
    color: var(--eerie-black);
    font-family: var(--ff-league-spartan);
    line-height: 1.2;
    padding: 20px;
    margin-top:20px ;
    padding-left: 0;
  }
  

  .w-100 { width: 100%; }
  
  .section-title,
  .section-text { text-align: center; }
  
  .section-text { font-size: var(--fs-6); }
  
  .grid-list {
    display: grid;
    gap: 30px;
  }
  
  .img-holder {
    aspect-ratio: var(--width) / var(--height);
    background-color: var(--light-gray);
  }
  
  .img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--white-1);
    padding-block: 15px;
    border-block-end: 1px solid var(--cultured);
    z-index: 4;
    transition: var(--transition-1);
  }
  
  .header.active { filter: drop-shadow(var(--shadow-2)); }
  
  .header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-family: var(--ff-league-spartan);
    color: var(--black);
    font-size: 3.5rem;
    height: 80px;
    font-weight: var(--fw-700);
    line-height: 1;
  }
  
  .nav-toggle-btn { font-size: 40px; }
  
  .nav-toggle-btn.active .open,
  .nav-toggle-btn .close { display: none; }
  
  .nav-toggle-btn .open,
  .nav-toggle-btn.active .close { display: block; }
  
  .navbar {
    background-color: var(--white-1);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    max-width: calc(100% - 30px);
    width: 100%;
    padding-inline: 0;
    border: 1px solid var(--cultured);
    transition: 0.3s var(--cubic-out);
    max-height: 0;
    visibility: hidden;
    overflow: hidden;
  }
  
  .navbar.active {
    max-height: 320px;
    visibility: visible;
    transition-duration: 0.5s;
  }
  
  .navbar-list {
    padding: 20px 15px;
    padding-block-start: 10px;
    opacity: 0;
    transition: var(--transition-1);
  }
  
  .navbar.active .navbar-list { opacity: 1; }
  
  .navbar-link {
    color: var(--eerie-black);
    font-family: var(--ff-league-spartan);
    font-size: var(--fs-4);
    line-height: 1.2;
    padding-block: 8px;
    transition: var(--transition-1);
  }
  
  .navbar-link:is(:hover, :focus) { color: var(--red-crayola); }
  
  .header .btn { margin-block-start: 10px; }
  
  .hero {
    padding-block-start: calc(var(--section-padding) + 50px);
    text-align: center;
  }
  
  .hero-content { margin-block-end: 30px; }
  
  .hero-subtitle {
    color: var(--eerie-black);
    font-size: var(--fs-5);
    font-weight: var(--fw-500);
  }
  
  .hero-title { margin-block: 12px 8px; }
  
  .hero-text { font-size: var(--fs-5); }
  
  .hero .btn {
    margin-inline: auto;
    margin-block-start: 20px;
  }
  @media (min-width: 575px) {
    .h1{
        font-size: 30px;
        font-weight: 900;
      }
    .container {
      max-width: 540px;
      width: 100%;
      margin-inline: auto;
    }
  
    .grid-list {
      grid-template-columns: 1fr 1fr;
      column-gap: 25px;
    }
    .blog .grid-list { grid-template-columns: 1fr; }
  
    .blog-card.grid {
      display: grid;
      grid-template-columns: 0.47fr 1fr;
      align-items: center;
      gap: 10px;
    }
    .input-wrapper {
      display: flex;
      gap: 15px;
    }
}
  @media (min-width: 768px) {
    :root {
      --fs-1: 4.5rem;
      --fs-2: 3.7rem;
      --fs-3: 2.3rem;
      --fs-4: 1.8rem;
      --fs-5: 1.5rem;
      --fs-6: 1.4rem;
  
    }
    .container { max-width: 720px; }
  
    .section-text {
      max-width: 65ch;
      margin-inline: auto;
    }
    .hero-text {
      max-width: 60ch;
      margin-inline: auto;
    }
  
    .about-banner { max-width: 550px; }
  
    .about .section-text {
      max-width: unset;
      margin-inline: 0;
    }
  
    .contact-form { padding: 30px; }
  
    .contact-item { min-width: calc(50% - 12.5px); }
  
  }
  
  @media (min-width: 992px) {
  
    :root {
  
      --fs-1: 5rem;
      --fs-2: 4rem;
      --fs-3: 2.5rem;
  
      --section-padding: 100px;
  
    }
  
    .container { max-width: 960px; }
  
    .grid-list { 
        grid-template-columns: repeat(3, 1fr); 
    }
  
    .nav-toggle-btn { display: none; }
  
    .navbar,
    .navbar.active { all: unset; }
  
    .navbar-list {
      all: unset;
      display: flex;
      align-items: center;
      gap: 30px;
    }
  
    .navbar-link { position: relative; }
  
    .navbar-link:is(:hover, :focus) { color: var(--eerie-black); }
  
    .navbar-link::after {
      content: "";
      position: absolute;
      bottom: 5px;
      left: 0;
      width: 100%;
      height: 2px;
      background-image: var(--gradient);
      transform: scaleX(0);
      transform-origin: left;
      transition: var(--transition-2);
    }
  
    .navbar-link:is(:hover, :focus)::after { transform: scaleX(1); }
  
    .header .btn { margin-block-start: 0; }
  
    .hero .container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      gap: 30px;
      text-align: left;
    }
  
    .hero-content { margin-block-end: 0; }
  
    .hero-subtitle {
      position: relative;
      padding-inline-start: 15px;
    }
  
    .hero-subtitle::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 2px;
      height: 100%;
      background-color: var(--red-crayola);
    }
  
    .hero-text,
    .hero .btn { margin-inline: 0; }
  
  
    .about .container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      gap: 30px;
    }
  
  }
  @media (min-width: 1200px) {
  
  
    :root {
  
      --fs-1: 6.8rem;
      --fs-2: 4.5rem;
      --fs-4: 1.9rem;
      --fs-5: 1.6rem;
      --fs-6: 1.6rem;
  
    }
  
    .container { max-width: 1140px; }
  
    .btn { --fs-6: 1.5rem; }
  
    .service-card { padding: 30px; }
  
    .service-card .h3 { --fs-3: 2.5rem; }
  
    .project-card .card-content { padding: 30px; }
  
    .project-card .card-subtitle { --fs-6: 1.6rem; }
  
    .about .container { gap: 60px; }
  
    .about-item { gap: 7px; }
  
    .about-item ion-icon { font-size: 20px; }
  
    .cta .section-title { margin-block: 15px 24px; }
  
    .blog-card .time { --fs-6: 1.6rem; }
  
    .blog-card.grid .h3 { --fs-3: 2.4rem; }
    .contact-form { padding: 50px; }
  
    .contact-card { gap: 20px; }
  
    .contact-card .card-icon { padding: 15px; }
  
  }
  .h1{
    font-size: 40px;
    font-weight: 900;
  }
  .container2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px 50px;
    padding: 100px 50px;
}

.container2 .card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 350px;
    max-width: 100%;
    height: 300px;
    background: white;
    border-radius: 20px;
    transition: 0.5s;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
}

.container2 .card:hover {
    height: 400px;
}

.container2 .card .img-box {
    position: absolute;
    border: none;
    top: 20px;
    width: 300px;
    height: 220px;
    background: #000000;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.5s;
}

.container2 .card:hover .img-box {
    border: none;
    top: -100px;
    scale: 0.75;
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}

.container2 .card .img-box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container2 .card .content {
    position: absolute;
    top: 252px;
    width: 100%;
    height: 35px;
    padding: 0 30px;
    text-align: center;
    overflow: hidden;
    transition: 0.5s;
}

.container2 .card:hover .content {
    top: 130px;
    height: 250px;
}

.container2 .card .content h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--clr);
}

.container2 .card .content p {
    color: #333;
}

.container2 .card .content a {
    position: relative;
    top: 15px;
    display: inline-block;
    padding: 12px 25px;
    text-decoration: none;
    background: var(--clr);
    color: white;
    font-weight: 500;
}

.container2 .card .content a:hover {
    opacity: 0.8;
    background-color: #000000;
    color: white;
}

@media (max-width: 480px) {
    .container2 .card {
        width: 230px;
        border-radius: 15px;
    }
    .logo{
        height: 63px;
    }
    .h1{
        font-size: 30px;
    }
    .container2 .card .img-box {
        width: 185px;
        border-radius: 10px;
    }

    .container2 .card .content p {
        font-size: 0.8rem;
    }

    .container2 .card .content a {
        font-size: 0.9rem;
    }
}
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white; 
    text-align: center;
    padding: 2rem;   
}

  .section ,.hero{
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    margin-top: 50px;  
    background-color: var( --cultured-2);
}

.contacth1{
  text-align: center;
      margin: 40px;
      font-size: 6vh;
      color:var(--persian-rose);
  animation-name: logo2;
   transform: translateY(-500px);
    animation-duration: 3s;
    animation-delay: .4s;
    animation-timing-function:ease;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}
@keyframes logo2 {
  40%{
      transform: translateY(30px);
  }
  100%{
      transform: translateY(0);
  }
}

@keyframes logo {
  40%{
      transform: translate(30px);
  }
  100%{
      transform: translateX(0);
  }
}
.logo{
  animation-name: logo;
    transform: translateX(-500px);
    animation-duration: 3s;
    animation-delay: .4s;
    animation-timing-function:ease;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}
@keyframes logo {
  40%{
      transform: translate(30px);
  }
  100%{
      transform: translateX(0);
  }
}
.animation{
  animation: change;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes change {
  20%{
      color: aqua;
  }
  40%{
      color: goldenrod;
  }
  60%{
      color: yellow;
  }
  80%{
      color: red;
  }
  100%{
      color: blue;
  }
}
.btn ,.btn-primary{
  margin: auto;
  margin-top: 35px;
}
input{
  
    height: 30px;
    width: 95%;
  border: none;
  border-bottom: 2px var(--persian-rose) solid;
  border-radius: 2px;
    padding: 10px;  
    outline: none;
    background-color: var( --cultured-2);
}

input:focus{
  transition: 0.4s;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.18);
}
form{
  box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    padding: 60px;
    margin: auto;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 0;
    margin-bottom: 30px; 
    background-color: var( --cultured-2);
}
.serviceh1{color:#000000;}
@media (max-width:800px) {
  form{
    margin: 0;
    margin-top: 50px;
    margin-left: 6px;
    margin-right: 6px;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 40px;
  }
  .contact-form{padding: 0;margin: 0;margin-top: 10px;}
  input{
    padding: 10px;
  }
  .contacth1{font-size: 30px;}
  
}